<html>
    <head>
        <title>{% block title %}{% endblock title %}
            Travel Tickets
        </title>
    </head><link rel="shortcut icon" href="static/logo1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <img src="static/logo1.png" alt="" height="70" width="90">
      <h4><a class="navbar-brand" href="/">Travel Tickets</a></h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-4 mb-lg-0">
          <li class="nav-item">
            <h5><a class="nav-link active" aria-current="page" href="/">🏠Home</a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link" href="/tourpackage">🧳Tour Packages </a></h5>
          </li>
          <li class="nav-item dropdown">
            <h5><a class="nav-link" href="/gallery">📸Gallery </a></h5>
            </a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link" href="/review">✍🏻Review</a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link" href="/contact">📞Contact Us</a></h5>
          </li>
        </ul>
        <h5><button class="btn btn-outline-success" type="submit">|| आपकी यात्रा शुभ और मंगलमय हो ||</button></h5><br>
        <a href="/user">
          <h5 class="px-2"><button class="btn btn-outline-success" type="submit">👤Sign In/Register</button></h5>
        </a>
      </div>
    </div>
  </nav>
    {% block body %}{% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
