{% extends "base.html" %}
{% block title %}❤️Favourite | {% endblock title %}
{% block body %}
<header class="jumbotron jumbotron-fluid text-center">
    <div class="container my-2">
        <h1 class="display-4">📌Save your top destinations🏝️ and experiences</h1>
        <p class="lead">"Build your🥰 personalized travel wish list 📋here!"</p>
    </div>
  </header>
  <main>
    <!-- Ensure proper scaling on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
{% endblock body %}