{% extends "base.html" %}
{% block title %} 📸Gallery | {% endblock title %}
{% block body %}
<header class="jumbotron jumbotron-fluid text-center">
  <div class="container my-2">
      <h1 class="display-4">🚶Explore  ✈Travel Gallery 📸</h1>
      <p class="lead">"Discover the world's🌏beauty through our lens"</p>
  </div>
</header>
<main>
  <!-- Ensure proper scaling on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <section id="hero" class="hero section light-background">
    <div class="container px-0 my-2">
      <div class="row gy-4 justify-content-center justify-content-lg-between px-4">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-left">
          <br>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Hero Section -->
</main>
<!-- Gallery -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/Jaipur.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Jaipur"
      />
      <img
        src="/static/Coorg.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Coorg"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/Jaisalmer.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Jaisalmer"
      />
      <img
        src="/static/Delhi.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Delhi"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/Kashmir.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Kashmir"
      />
      <img
        src="/static/Kerala.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Kerala"
      />
    </div>
  </div>
  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/Khajuraho-Temples.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Khajuraho Temples"
      />
      <img
        src="/static/Kutch.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Kutch"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/Leh-Ladakh.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Leh Ladakh"
      />
      <img
        src="/static/Manali.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Manali"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/Rishikesh.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Rishikesh"
      />
      <img
        src="/static/Shimla.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Shimla"
      />
    </div>
  </div>
  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/taj.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Taj Mahal"
      />
      <img
        src="/static/india.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="India"
        height="300"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/udaipur.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Udaipur"
      />
      <img
        src="/static/amritsar.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Amritsar"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/buddha.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Buddha"
      />
      <img
        src="/static/lotus.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Lotus Temple"
      />
    </div>
  </div>
  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/mahel.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mahel"
      />
      <img
        src="/static/konark.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Konark"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/killa.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Killa"
      />
      <img
        src="/static/hawa.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Hawa Mahal"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/patel.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Patel"
      />
      <img
        src="/static/kedar.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Kedar"
        height="300"
      />
    </div>
  </div>
  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/okk.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Okk"
      />
      <img
        src="/static/delhi1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Delhi 1"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/ok1.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Ok 1"
      />
      <img
        src="/static/khwaja.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Khwaja"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/hp.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="HP"
      />
      <img
        src="/static/laxmi.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Laxmi"
      />
    </div>
  </div>
</div>
{% endblock body %}
