{% extends "base.html" %}
{% block title %} 🛒Order Placed |{% endblock title %}
{% block body %}
<br>    
<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="d-flex justify-content-center align-items-center vh-50 bg-light">
    <div class="card text-center p-3 shadow" style="border: none; border-radius: 10px;">
        <div class="card-body">
            <div class="mb-4">
                <img src="/static/review.jpeg">
            </div>
            <h2 class="card-title">❤️Thank you for taking the time to✍🏻 Review Us!✅</h2>
            <p class="card-text text-muted">"Your feedback inspires us to continually improve and serve you better."</p>
            <p class="card-text text-muted"> || For any🤔query or complains, 📞contact us ||</p>
            <div class="d-flex justify-content-center mt-4">
                <a href="/" class="btn btn-outline-primary mr-4">🔄Continue Visiting & Book🚌Tour Packages</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}